@model CNPM_Luxury.Model.DichVuPhuThu

@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    ViewBag.Title = "Chỉnh sửa dịch vụ";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.ID_DichVu)

        <div class="form-group">
            @Html.LabelFor(m => m.ID_DichVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ID_DichVu, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ID_DichVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Ten_DichVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Ten_DichVu, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Ten_DichVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Gia_DichVu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Gia_DichVu, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Gia_DichVu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ThoiGianMo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ThoiGianMo, "{0:hh\\:mm}", new { @class = "form-control", type = "time" })
                @Html.ValidationMessageFor(m => m.ThoiGianMo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ThoiGianKetThuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ThoiGianKetThuc, "{0:hh\\:mm}", new { @class = "form-control", type = "time" })
                @Html.ValidationMessageFor(m => m.ThoiGianKetThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ID_Trang_Thai, "Trạng thái", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_Trang_Thai", null, "-- Chọn trạng thái --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ID_Trang_Thai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
