@{
    ViewBag.Title = "SearchingRoom";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}


<div class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content container text-white">
        <h1 class="display-4">WELCOME TO <strong>LUXURY</strong> HOTELS</h1>
        <p>Book your stay and enjoy Luxury redefined at the most affordable rates.</p>

        <div class="search-box mt-4">
            @using (Html.BeginForm("SearchResult", "Home", FormMethod.Post))
            {
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Địa điểm</label>
                        @Html.DropDownList("Dia_Diem", (SelectList)ViewBag.DiaDiems, "Chọn địa điểm", new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label>Ngày nhận phòng</label>
                        <input type="date" class="form-control" name="checkIn" required value="@ViewBag.CheckIn" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Ngày trả phòng</label>
                        <input type="date" class="form-control" name="checkOut" required value="@ViewBag.CheckOut" />
                    </div>

                    <div class="form-group col-md-2">
                        <label>Số khách</label>
                        @Html.DropDownList("So_Nguoi", (SelectList)ViewBag.SoKhachList, "Chọn số khách", new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-2 d-flex align-items-end ml-auto">
                        <button type="submit" class="btn btn-warning btn-block py-2">
                            <i class="fas fa-search mr-1"></i> Tìm phòng
                        </button>
                    </div>
                </div>
                if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["Error"]
                    </div>
                }

            }
        </div>
    </div>
</div>
