@model CNPM_Luxury.Model.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HO_TEN_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HO_TEN_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.TEN_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.TEN_ROLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_User }) |
    @Html.ActionLink("Back to List", "Index")
</p>
