@model IEnumerable<CNPM_Luxury.Model.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HO_TEN_KH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT_KH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.TEN_ROLE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HO_TEN_KH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT_KH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.TEN_ROLE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_User }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_User }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_User })
        </td>
    </tr>
}

</table>
